<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    xmlns:android = "http://schema.android.com/apk/res/android" 
    id        = "com.hipmob.phonegap.sample.simple"
    version   = "1.2.1">
  <gap:plugin name="com.hipmob.ios.phonegap.plugin" version="1.2.2" source="plugins.cordova.io" />
  <gap:plugin name="com.hipmob.android.phonegap.plugin" version="1.6.3" source="plugins.cordova.io" />
  <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
  <gap:plugin name="org.apache.cordova.device" />
  
  <access origin="*" />
  
  <name>Hipmob PhoneGap Build Sample</name>
  
  <description>
    Simple sample app showing use of Hipmob in PhoneGap Build.
  </description>
  
  <author href="http://www.hipmob.com" email="team@hipmob.com">
    Orthogonal Labs, Inc.
  </author>
  <preference name="phonegap-version" value="3.6.3" />
  
  <gap:config-file platform="android" parent="/manifest/application" mode="add">
    <meta-data android:name="hipmob_notification_text" android:value="{{passthrough}}" />
  </gap:config-file>

  <gap:config-file platform="android" parent="/manifest/application" mode="add">
    <meta-data android:name="hipmob_notification_text_single" android:value="{{passthrough}}" />
  </gap:config-file>

  <gap:config-file platform="android" parent="/manifest/application" mode="add">
    <meta-data android:name="hipmob_push_sender_ids" android:value="\ 59106397686" />
  </gap:config-file>

  <gap:config-file platform="android" target="res/xml/config.xml" parent="/*" mode="delete">
    <feature name="PushPlugin" >
      <param name="android-package" value="com.plugin.gcm.PushPlugin"/>
    </feature>
  </gap:config-file>
  
  <gap:config-file platform="android" target="AndroidManifest.xml" parent="/manifest/application" mode="delete">
    <activity android:name="com.plugin.gcm.PushHandlerActivity" android:exported="true"/>
  </gap:config-file>

  <gap:config-file platform="android" target="AndroidManifest.xml" parent="/manifest/application" mode="delete">
    <receiver android:name="com.plugin.gcm.CordovaGCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
      <intent-filter>
	<action android:name="com.google.android.c2dm.intent.RECEIVE" />
	<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
	<category android:name="$PACKAGE_NAME" />
      </intent-filter>
    </receiver>
  </gap:config-file>

  <gap:config-file platform="android" target="AndroidManifest.xml" parent="/manifest/application" mode="delete">
    <service android:name="com.plugin.gcm.GCMIntentService" />
  </gap:config-file>

</widget>
