<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    xmlns:android = "http://schema.android.com/apk/res/android" 
    id        = "com.hipmob.phonegap.sample.simple"
    version   = "1.0.10">
  <gap:plugin name="com.hipmob.ios.phonegap.plugin" version="1.1.6" source="plugins.cordova.io" />
  <gap:plugin name="com.hipmob.android.phonegap.plugin" version="1.2.9" source="plugins.cordova.io" />
  <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
  <gap:plugin name="org.apache.cordova.device" />
  
  <access origin="*" />
  
  <name>Hipmob PhoneGap Build Sample</name>
  
  <description>
    Simple sample app showing use of Hipmob in PhoneGap Build.
  </description>
  
  <author href="http://www.hipmob.com" email="team@hipmob.com">
    Orthogonal Labs, Inc.
  </author>
  <preference name="phonegap-version" value="3.6.3" />
  
  <gap:config-file platform="android" parent="/manifest/application" mode="add">
    <meta-data android:name="hipmob_notification_text" android:value="{{passthrough}}" />
  </gap:config-file>

  <gap:config-file platform="android" parent="/manifest/application" mode="add">
    <meta-data android:name="hipmob_notification_text_single" android:value="{{passthrough}}" />
  </gap:config-file>

  <gap:config-file platform="android" parent="/manifest/application" mode="add">
    <meta-data android:name="hipmob_push_sender_ids" android:value="\ 59106397686" />
  </gap:config-file>
</widget>
